**/__pycache__
res
run1.sh
test
*.txt
res_lr0.001
res_lr0.001_org
res_s2_d6
res3
nes_ori_bs_20
res1
output
compute.py
model/network_GIN_Hierarchical_test.py
tmpres
test_dataset
Start
res2
res5
res4_lr0.001
test_dataset.py
test_dataset.sh
feat_extract.py
baseline____baseline_eval5
baseline_eval5_cv2_bs20
cc.py
dataflow/consep_data/
exp_baseline_s2_3_d_6_s2_3_d_1
s23_d6____s23_d6_eval5
test_dataset_DataLoader
test_dataset_file_descriptor
test_dataset_ori
test.pine
runs
example.log
log.py
s2_3_d1_num_eval5

baseline_lr0.003_gamma0.33_epoch20
epochs20_lr0.0003_s23_d1_cv2_epochs20_lr0.003_s23_d6_cv3
s23_d1_cv3_5_26
s23_d1_cv3__baseline_cv2
s2_d6_cv123
s2_d6_cv3_nan_loss
test_hypher_parameter_s23_d1_cv3
res1.sh
prepare_cv_datset
compute_std_mean
consep_classification
consep_lr0.01
consep_lr0.03
compute_mean
aaaa
1_2
20000_training_consep_classification
20000_training_consep_classification1
3_4
5_6
7_8
9_
all
checkpoint
find_files.py
dataflow/construct_image_patch.py

HGIN/
"\\"
aa
cv1_s2_3_d6
cv2_d6_s2
cv2_s2_3_d6
cv3_s23_d1
dlkjf
high
imagename
low
normal
plot.py
plot.sh
read_pdf.py
recover.py
test2.png
test3.png
test_speed
tmp/
tt
\\
tt1
dataflow/test.py
md5_crc
md5_crc_extended
res_can_be_del
test.png
test_can_be_del/
test_can_be_del2/
tile_01_01.png
tttt.py
cache
fold_2_can_be_del
fold_3_can_be_del
junk_can_be_del
lmdb_fold2_can_be_del
lmdb_fold3_can_be_del
lmdb_writer_can_be_del
res_cv1
nohup.out
res0
res_test_cv1
ttt.py
res_cv1
test.png
test1_backup.png
test_can_be_del3/
test_cv1_del
test_run_del
test1.png
